@media (max-width: 1400px) {
  .hero {
    max-width: 1400px;
    padding: 30px;
  }

  .heading-primary {
    padding-top: 100px;
    font-size: 54px;
    padding-left: 110px;
  }

  .header {
    padding-left: 141px;
    padding-right: 142px;
  }

  .hero-discription {
    font-size: 18px;
    padding-left: 110px;
    padding-right: 50px;
  }

  .icon-nav-list,
  .connect-link {
    margin-left: 110px;
  }

  .mobile-img-box {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 24px;
    margin-bottom: 20px;
  }

  .grid-2-cols {
    grid-template-columns: 1fr;
  }

  .img-box {
    display: none;
  }

  .mobile-img {
    width: 100%;
  }

  .mobile-img-box {
    display: block;
  }

  .heading-primary {
    padding-top: 100px;
    padding-left: 20px;
    font-size: 44px;
  }

  .hero-discription {
    padding-right: 0;
    padding-left: 20px;
    font-size: 16px;
  }

  .icon-nav-list,
  .connect-link {
    margin-left: 20px;
  }

  .icon-nav-list {
    padding-bottom: 50px;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    display: none;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1ms ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 48px;
  }
}

@media (max-width: 544px) {
  .heading-primary {
    padding-top: 100px;
    padding-left: 10px;
    font-size: 30px;
  }

  .hero-discription {
    padding-right: 0;
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  .icon-nav-list,
  .connect-link {
    margin-left: 10px;
  }

  .cta-description {
    padding: 34px;
  }
}
