@media (max-width: 1400px) {
  .hero {
    max-width: 1400px;
    padding: 30px;
  }

  .heading-primary {
    padding-top: 100px;
    font-size: 54px;
    padding-left: 110px;
  }

  .header {
    padding-left: 141px;
    padding-right: 142px;
  }

  .hero-discription {
    font-size: 18px;
    padding-left: 110px;
    padding-right: 50px;
  }

  .icon-nav-list,
  .connect-link {
    padding-left: 110px;
  }

  .mobile-img-box {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 24px;
    margin-bottom: 20px;
  }

  .grid-2-cols {
    grid-template-columns: 1fr;
  }

  .mobile-img {
    width: 100%;
  }

  .mobile-img-box {
    display: block;
  }

  .heading-primary {
    padding-top: 100px;
    padding-left: 20px;
    font-size: 44px;
  }

  .hero-discription {
    padding-right: 0;
    padding-left: 20px;
    font-size: 16px;
  }

  .icon-nav-list,
  .connect-link {
    padding-left: 10px;
    margin-left: 10px;
  }

  .icon-nav-list {
    padding-bottom: 50px;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(64, 83, 252, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
    justify-content: flex-start;
    transition: all 0.1ms ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .main-nav-link {
    color: #fff;
    font-size: 32px;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
    color: #fff;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 48px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .modal {
    margin-top: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90vh;
    background-color: #fff;
    transition: 3ms all;
    z-index: 1000;
  }

  .modal-img-mobile {
    width: 70%;
  }

  .modal-work-description {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .modal-languages-apps-box {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 12px;
  }

  .heading-secondary-modal {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    color: #172b4d;
  }
}

@media (max-width: 544px) {
  .heading-primary {
    padding-top: 100px;
    padding-left: 10px;
    font-size: 30px;
  }

  .hero-discription {
    padding-right: 0;
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  .icon-nav-list,
  .connect-link {
    padding-left: 0;
  }

  .cta-description {
    padding: 0;
  }
}
