* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  font-family: 'poppins', sans-serif;
  overflow-y: scroll;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  color: #4d5acc;
  font-size: 32px;
  width: 34px;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 14px 32px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #fff;
  color: #396df2;
  border: 1px solid #396df2;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #b0b8ff;
  color: #fff;
  transition: all 0.3s;
}

.btn:focus {
  background-color: #4d5acc;
  color: #fff;
  transition: all 0.3ms;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.grid-row {
  display: grid;
  grid-template-rows: 1fr;
  gap: 24px;
}

/* ******************** */

/*     HEADER   */

/* ********************* */

.desk-header {
  display: none;
}

.header-section {
  padding-top: 24px;
  background-color: #fff;
}

.header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 141px;
  padding-right: 142px;
}

.img-logo {
  width: 100%;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.main-nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #344563;
}

.menu-icon {
  font-size: 32px;
}

.time {
  font-size: 18px;
  color: #000;
}

.display-nav-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.display-icon {
  font-size: 18px;
}

.nav-list {
  list-style: none;
}

/* ******************** */

/*      SECTION HERO    */

/* ********************* */

.hero {
  background-image: url(img/Header\ bg.svg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 30px 50px;
  margin-bottom: 114px;
  background-color: #fff;
  padding: 0;
  border-bottom-left-radius: 50px;
}

.text-container {
  padding-left: 24px;
  padding-right: 24px;
}

.nav-box {
  display: block;
  margin-bottom: 2px;
}

.heading-primary {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 50px;
  letter-spacing: 0.37px;
  color: #172b4d;
  margin-bottom: 20px;
  padding-top: 300px;
  padding-left: 200px;
}

.hero-discription {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #344563;
  padding-bottom: 8px;
  margin-bottom: 5px;
  padding-left: 200px;
  padding-right: 150px;
}

.connect-link {
  display: block;
  color: #7f8cff;
  text-decoration: none;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  font-family: 'poppins', sans-serif;
  margin-bottom: 5px;
  padding-left: 200px;
}

.icon-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
  padding-left: 200px;
}

.icon-link,
.fa-brands {
  font-size: 32px;
  color: #555;
  margin-bottom: 40px;
  padding-left: 200px;
}

/* ******************** */

/*      SECTION  WORK    */

/* ********************* */

.work-section {
  padding: 24px;
  background-color: #ededed;
}

.work-container {
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-bottom: 88px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: all 0.4s;
}

.work-container:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.img-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.heading-secondary {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #172b4d;
}

.subheading {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  display: inline-blocrem;
}

.text-container-work {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  padding: 0;
}

.developer,
.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.dot {
  font-size: 34px;
  color: #c1c7d0;
}

.work-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 14px;
}

.languages-apps-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
}

.apps {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #7f8cff;
  background-color: #eceef1;
  padding: 0.8rem 16px;
  border-radius: 04px;
}

.mobile-img-box {
  display: none;
}

.mobile-img {
  margin-bottom: 10px;
}

.btn-work {
  background-color: #fff;
  color: #396df2;
  padding: 8px 16px;
  border: solid 1px #396df2;
  border-radius: 8px;
}

/* ******************** */

/*      SECTION  ABOUT   */

/* ********************* */

.about {
  margin-top: 5px;
  margin-bottom: 114px;
  background-color: #fff;
  border-top-left-radius: 70px;
}

.about-heading-primary {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 58px;
  letter-spacing: 03px;
  color: #172b4d;
  margin-bottom: 12px;
}

.abtself-discription {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #344563;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.about-connect-link {
  display: block;
  color: #7f8cff;
  text-decoration: none;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  font-family: 'poppins', sans-serif;
  margin-top: 9px;
  padding-bottom: 8px;
}

.about-langs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.language {
  height: 24px;
  right: 78px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  color: #000;
}

.abt-text-container {
  padding: 24px;
}

.icon {
  font-size: 28px;
  color: #acb7c3;
  border: 02px;
}

.about-langs-list {
  padding: 24px;
}

.about-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 12px;
  background: #f7f7f9;
  margin-bottom: 1px;
}

.about-langs-link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #253858;
}

.about-skils-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 2px #acb7c3 solid;
}

.about-skills-box {
  padding: 24px;
}

.abt-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 0;
}

/* ******************** */

/*      SECTION  CTA    */

/* ********************* */

.section-cta {
  background-image: url(img/contact\ form\ background\ shapes.svg\ real.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  padding: 24px;
  background-color: #6070ff;
  border-top-left-radius: 50px;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 24px;
}

.cta-heading-primary {
  padding-top: 8px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 03px;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
}

.cta-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.cta-description {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 44px;
}

.cta-form label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  padding-top: 10px;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form textarea {
  width: 100%;
  height: 300px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 2px;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 12px;
}

.form-btn,
.form-btn:link,
.form-btn:visited {
  width: 120px;
  height: 50px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  background-color: #fff;
  color: #396df2;
  border: 1px solid #396df2;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s;
  align-self: center;
}

.form-btn:hover {
  background-color: #a0a9ff;
  color: #fff;
  transition: all 0.3s;
}

.form-btn:focus {
  background-color: #4d5acc;
  color: #fff;
  transition: all 0.3ms;
}

.modal {
  margin-top: 10px;
  padding: 34px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  background-color: #fff;
  transition: 3ms all;
  z-index: 1000;
}

.btn-close-modal {
  font-size: 32px;
  padding: 4px 8px;
  border: none;
  border-color: #fff;
  background-color: #fff;
  justify-self: flex-end;
  width: 60px;
}

.header-popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-work-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 14px;
}

.img-modal {
  width: 90%;
}

.heading-secondary-modal {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  color: #172b4d;
}

.text-modal-div {
  max-width: 400px;
  padding: 14px;
}

.img-txt-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-modal-live {
  text-align: left;
  padding: 8px 32px;
  border: 0.5px solid #000;
  margin-right: 10px;
}

.modal-langs-app-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 20px;
}

#overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
